.status-bar {
  padding: 8px 0px 3px 3px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.status-bar_column {
  width: 33%;
}

.status-bar_column:first-child span { 
  margin-right: 3px;
}

.status-bar_column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar_column:last-child{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}